@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@400;700&display=swap');

:root {
  --main-font: 'Open Sans', sans-serif;
  --titles-font: 'Anton', sans-serif;

  --primary-color: #fff;
  --secondary-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
}

.header-wrapper {
  background-color: var(--secondary-color);
  position: fixed;
  margin-bottom: 50px;
  width: 100vw;
}

.header-wrapper .nav-wrapper {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrapper .nav-bar {
  display: none;
}

.header-wrapper .logo {
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: none;
  font-family: var(--titles-font);
  font-size: 48px;
}

.main-wrapper .content-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.main-wrapper .content-wrapper .band-description {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  margin-bottom: 50px;
}

.main-wrapper .content-wrapper .band-description .band-image {
  width: 100%;
}

.main-wrapper .content-wrapper .band-description .band-image,
.main-wrapper .content-wrapper .band-description .tribute-info {
  margin: 0 auto;
}

.main-wrapper .content-wrapper .band-description .img-caption {
  display: none;
}

.main-wrapper .content-wrapper .band-description .tribute-info {
  padding: 10px;
}

.main-wrapper .content-wrapper .band-description .tribute-info h1 {
  font-family: var(--titles-font);
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.main-wrapper .content-wrapper .band-description .tribute-info p {
  font-size: 14px;
  text-align: center;
}

.main-wrapper .section-title {
  font-family: var(--titles-font);
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.main-wrapper hr {
  margin-bottom: 30px;
  width: 100%;
}

.main-wrapper .band-members .members-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  flex-wrap: wrap;
  padding: 0 20px;
}

.main-wrapper .band-members .members-wrapper .member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}
.main-wrapper .band-members .members-wrapper .member img {
  max-width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.main-wrapper .band-members .members-wrapper .member .member-name,
.main-wrapper .band-members .members-wrapper .member .member-role {
  text-align: center;
}

.main-wrapper .band-members .members-wrapper .member .member-name {
  font-size: 14px;
  font-weight: 700;
}

.main-wrapper .band-members .members-wrapper .member .member-role {
  font-size: 12px;
  color: #7c7c7c;
}

.main-wrapper .band-discography .section-subtitle {
  font-family: var(--titles-font);
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.main-wrapper .band-discography .albums,
.main-wrapper .band-discography .openings {
  padding: 0 20px;
}

.main-wrapper .band-discography .albums-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.main-wrapper .band-discography .albums-wrapper .album {
  margin: 5px;
}

.main-wrapper .band-discography .albums-wrapper .album .album-img {
  max-width: 150px;
}

.main-wrapper .band-discography .albums-wrapper .album .album-name {
  font-size: 13px;
  text-align: center;
}

.main-wrapper .band-discography .albums-wrapper .album .album-name:nth-of-type(2) {
  font-size: 10px;
}
.main-wrapper .band-discography .openings {
  margin-bottom: 50px;
}

.main-wrapper .band-discography .openings .openings-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main-wrapper .band-discography .openings .openings-wrapper iframe {
  max-width: 230px;
}

.main-wrapper .band-discography .openings .openings-wrapper .opening {
  display: flex;
  margin-bottom: 20px;
}

.main-wrapper
  .band-discography
  .openings
  .openings-wrapper
  .opening
  .opening-description {
  width: 130px;
  font-size: 12px;
  margin: 0 10px;
}

.main-wrapper
  .band-discography
  .openings
  .openings-wrapper
  .opening
  .opening-description
  .opening-name {
  font-weight: 700;
}

.main-wrapper .band-discography .openings .openings-wrapper .see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  height: 130px;
  color: #ccc;
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footer p {
  margin-bottom: 10px;
}

.footer p:first-child {
  font-size: 14px;
}

.footer p:nth-child(2) {
  font-size: 12px;
}

.footer p:nth-child(2) a {
  text-decoration: underline;
}

.footer .heart-icon {
  color: rgb(148, 0, 57);
}

.footer a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 700;
}

@media (min-width: 426px) {
  .header-wrapper .nav-wrapper {
    justify-content: space-between;
  }

  .header-wrapper .nav-bar {
    display: block;
  }

  .header-wrapper .nav-bar ul {
    display: flex;
  }

  .header-wrapper .nav-bar ul > li {
    list-style: none;
    margin: 5px;
  }

  .header-wrapper .nav-bar ul > li > a {
    text-decoration: none;
    color: var(--primary-color);
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
  }

  .header-wrapper .nav-bar ul > li > a:hover {
    background-color: #292929;
  }

  .main-wrapper .content-wrapper .band-description {
    display: flex;
    flex-direction: row;
  }

  .main-wrapper .content-wrapper .band-description .band-image {
    width: 380px;
    display: block;
  }

  .main-wrapper .content-wrapper .band-description .tribute-info {
    padding: 0 0 0 15px;
  }

  .main-wrapper .content-wrapper .band-description .tribute-info h1 {
    text-align: left;
  }

  .main-wrapper .content-wrapper .band-description .tribute-info p {
    text-align: justify;
  }

  .main-wrapper .content-wrapper .section-title {
    text-align: left;
  }

  .main-wrapper hr {
    max-width: 400px;
  }

  .main-wrapper .content-wrapper .band-members .members-wrapper {
    flex-wrap: no-wrap;
    padding: 0;
  }

  .main-wrapper .content-wrapper .band-members .members-wrapper .member {
    margin-bottom: 0;
  }

  .main-wrapper .band-discography .openings .openings-wrapper .see-more {
    width: 230px;
  }
}
